<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predict - Fake News Detector App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='assets/square-favicon.png') }}" type="image/x-icon">
</head>
<body>
  {% include 'includes/_navbar.html' %}
  <section>
    <div class="container">
      <div class="jumbotron">
        <h1 class="home-title">Prediction Result</h1>
        <div class="line-break"></div>
        <form action="{{ url_for('predict')}}" method="POST" class="mt-4">
          <div class="input-group input-group-lg">
            <input class="form-control" type="text" name="news" placeholder="Enter the news URL" value="{{ url_input }}" required>
            <div class="input-group-append">
              <button type="submit" class="btn">Check</button>
            </div>
          </div>
        </form>
      </div>
      <div class="predict-card">
        <h4>Based on our classifier result</h4>
        <div class="card-body">
          {% if prediction_text == 'True' %}
            <h1 class="true">This news is <strong>{{ prediction_text }} ✅</strong></h1>
          {% elif prediction_text == 'False' %}
            <h1 class="false">This news is <strong>{{ prediction_text }} ❌</strong></h1>
          {% else %}
            <h1 class="error">{{ language_error }} ❌</h1>
          {% endif %}
          <p class="date">Prediction Date: {{ prediction_date }}</p> <!-- Display prediction date -->
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/_footer.html' %}
</body>
</html>